html, body {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    background: url(/assets/images/two-tone-bg.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    margin: 4px;
    width: calc(100% - 16px);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

button:disabled {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    opacity: 0.75;
}

button:disabled img {
    background-color: rgba(0, 0, 0, 0.4);
}

.icon-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-button img {
    border-radius: 100%;
}

.icon-button span {
    width: 100%;
    text-align: center;
}

input {
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 8px;
    width: calc(100% - 16px);
}

select {
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 8px;
    width: calc(100% - 16px);
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;
}

.player-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 32px;

    width: 25vw;
    min-height: 30vh;

    z-index: 2;
}

.player-title {
    height: 48px;
    margin: 0;
    padding: 0;
}

.active-player-icon {
    margin-left: 8px;
    font-size: 32px;
    font-weight: bold;
}

.game-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 32px;

    width: 240px;
    min-height: 30vh;

    z-index: 2;
}

#notifications-area {
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.notification {
    margin: 16px;
    padding: 16px;

    background-color: #8bc495;
    color: black;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    z-index: 10;
}

#popup-area {
    position: fixed;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 3;
}

.end-game {
    padding: 10vw;

    background-color: #8bc495;
    color: black;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    z-index: 5;
}

@media screen and (max-width: 768px) {
    button {
        padding: 4px;
        margin: 2px;
        width: calc(100% - 8px);
        font-size: 1rem;
    }

    input {
        width: 160px;
    }

    body {
        background: url(/assets/images/two-tone-bg-inversed.png) no-repeat center center fixed;
    }

    main {
        flex-direction: column;
    }

    #dice-roll-gif {
        height: 80px;
        width: auto;
    }

    .player-screen {
        padding: 8px;
        width: calc(100% - 16px);
    }

    .player-screen-game-started {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-height: auto;
    }

    .player-scores-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .round-score-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 4px;
        padding: 4px;
        border-radius: 8px;
        font-size: 1rem;
    }

    .game-screen {
        padding: 4px;
        width: calc(60% - 8px);
        min-height: 20vh;
    }
}

@media screen and (min-width: 768px) {
    button {
        padding: 8px;
        margin: 4px;
        width: calc(100% - 16px);
        font-size: 1.1rem;
    }

    body {
        background: url(/assets/images/two-tone-bg.webp) no-repeat center center fixed;
    }

    main {
        flex-direction: row;
    }

    #dice-roll-gif {
        height: auto;
        width: auto;
    }

    .player-screen {
        padding: 32px;
        width: auto;
    }

    .player-screen-game-started {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 25vw;
        min-height: 30vh;
    }

    .player-scores-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .round-score-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 16px;
        padding: 16px;
        border-radius: 16px;
        font-size: 1.2rem;
    }

    .game-screen {
        padding: 32px;
        width: 240px;
        min-height: 30vh;
    }
}
